<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a new user</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin/create}" th:object="${user}">
    <label>Enter name</label>
    <input type="text" name="name" placeholder="Enter name"/>
    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br>
    <br>
    <label>Enter surname</label>
    <input type="text" name="surname" placeholder="Enter surname"/>
    <div style="color: red" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}">Surname error</div>
    <br>
    <br>
    <label>Enter age</label>
    <input type="text" name="age" value=0 />
    <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br>
    <br>
    <label>Enter email</label>
    <input type="text" name="email" placeholder="Enter email"/>
    <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br>
    <br>
    <label>Enter Login</label>
    <input type="text" name="login"/>
    <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}">Login error</div>
    <br>
    <br>
    <label>Enter Password</label>
    <input type="text" name="password"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br>
    <br>
    <select th:name="roles" th:value="*{roles}">
        <option th:each="role:${roles}" th:value="${role.id}" th:text="${role.role}" selected/>
    </select>
    <br>
    <br>
    <input type="submit" value="Create!"/>
</form>
<br>
<a href="/admin">Back to the list</a>
<br>
<a href="/logout">Logout</a>
</body>
</html>